@import "mocha.css";
@import "wallust/colors-waybar.css";
* {
  font-family: JetBrainsMono Nerd Font;
  font-weight: bold;
  font-size: 12px;
  min-height: 0;
	text-shadow:1.5 2 1px @color1;

}

#waybar {
	background: transparent;
	color: @color0;
}

#workspaces {
  border-radius: 10px ;
  margin: 5px;
  background-color: @background;
  margin-left: 2px;
  margin-right: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 3px 5px 3px 5px;
}

#workspaces button {
  color: @color5;
  border-radius: 10px;
  padding: 0.4rem;
}

#workspaces button.active {
  color: @color15;
  border-radius: 10px;
}

#workspaces button:hover {
  color: @color3;
  border-radius: 10px;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#custom-power {
  background-color: @background;
  padding: 0.5rem 10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 2px;
  margin-bottom: 2px;
}

#clock {
  color: @color7;
  border-radius: 0px 10px 10px 0px;
  margin-right: 10px;
  padding: 3px 15px 3px 5px;
}

#battery {
  color: @color6;
  padding: 3px 5px 3px 15px;
}

#battery.charging {
  color: @color6;
  padding: 3px 5px 3px 5px;
}

#battery.warning:not(.charging) {
  color: @color7;
}

#pulseaudio {
  color: @color12;
  border-radius: 10px 0px 0px 10px;
  margin-left: 10px;
  padding: 3px 5px 3px 15px;
}

#custom-music {
  color: @color8;
  padding: 3px 5px 3px 5px;
  border-radius: 10px;
}

#custom-lock {
	border-radius: 10px 0px 0px 10px;
	color: @color15;
	padding: 3px 5px 3px 5px;
}

#custom-power {
	margin-right: 2px;
	border-radius: 0px 10px 10px 0px;
	color: @color15;
	padding: 3px 5px 3px 5px;
}

#tray {
	margin-right: 10px;
	border-radius: 10px;
	padding: 3px 5px 3px 5px;
}
#window{
	color: @foreground;
	border-radius: 10px ;
	margin: 2px;
	background-color: @background;
	margin-left: 2px;
	padding: 3px 5px 3px 5px;

}
