 @define-color foreground #EBEEE8;
 @define-color background #1e1e2e;
 @define-color background-alt rgba(39,39,42,0.25);
 @define-color cursor #ACB0B7;
 
 @define-color color0 #4C4C4F;
 @define-color color1 #525564;
 @define-color color2 #525564;
 @define-color color3 #6A6F81;
 @define-color color4 #717F94;
 @define-color color5 #5E81A6;
 @define-color color6 #839B72;
 @define-color color7 #C2DFAB;
 @define-color color8 #989C96;
 @define-color color9 #6D7185;
 @define-color color10 #6D7185;
 @define-color color11 #8E95AB;
 @define-color color12 #97A9C5;
 @define-color color13 #9DBCDD;
 @define-color color14 #C5CFBE;
 @define-color color15 #DADFD6; 
