 @define-color foreground #F9DBE2;
 @define-color background #1e1e2e;
 @define-color background-alt rgba(27,27,29,0.25);
 @define-color cursor #A597A5;
 
 @define-color color0 #424144;
 @define-color color1 #1C1C27;
 @define-color color2 #3C3E4D;
 @define-color color3 #464858;
 @define-color color4 #6B6E83;
 @define-color color5 #565B83;
 @define-color color6 #B25A71;
 @define-color color7 #EE9CB1;
 @define-color color8 #A78890;
 @define-color color9 #252534;
 @define-color color10 #505367;
 @define-color color11 #5E5F75;
 @define-color color12 #8F92AF;
 @define-color color13 #8F92AF;
 @define-color color14 #EE97AD;
 @define-color color15 #EEC3CE; 
